﻿.container {
    align-content: center;
    list-style-type: none;
}

.item {
    display: inline-block;
    padding: 0px;
    width: 250px;
    height: 300px;
    margin: 10px;
    position: relative;
}

.float {
    max-width: 1200px;
}

    .float:after {
        content: ".";
        display: block;
        visibility: hidden;
    }

.float-item {
    float: left;
}




ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    ul.img-list li {
        display: inline-block;
        height: 150px;
        margin: 0 1em 1em 0;
        position: relative;
        width: 150px;
    }


span.text-content {
    background: rgba(239, 146, 17,0.7);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

    span.text-content span {
        padding:10px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
    }

span.text-content {
    background: rgba(239, 146, 17,0.7);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
    opacity: 0;
    border-radius:20px;
}

li:hover span.text-content {
    opacity: 1;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 250px;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
