body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px arial,sans-serif;
    color: #333;
    outline: none;
}
* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
.leftcate {
    float: left;
    overflow: hidden;
    width: 65.834%;
}
.newslist {
    display: block;
    overflow: hidden;
}
.newslist li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    position: relative;
}
.newslist li a {
    display: block;
    overflow: hidden;
    position: relative;
}
a {
    text-decoration: none;
}
.newslist li .tempvideo {
    float: left;
    position: relative;
    width: 250px;
    height: 140px;
    margin-right: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}
.newslist li h3 {
    display: block;
    overflow: hidden;
    line-height: 28px;
    font-size: 22px;
    font-weight: 600;
}
.newslist li figure {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding: 10px 0;
}
.newslist li .timepost {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}
.newslist li .tempvideo img {
    display: block;
    width: 100%;
    height: 100%;
}
.newslist li img {
    float: left;
    width: 250px;
    height: 140px;
    margin-right: 15px;
}
.rightcate {
    float: right;
    overflow: visible;
    width: 31.667%;
}
.linkproduct {
    display: block;
    overflow: hidden;
    line-height: 26px;
    font-size: 18px;
    color: #288ad6;
    text-transform: uppercase;
    padding: 10px 0 6px;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 600;
}
.newsproduct {
    display: block;
    overflow: hidden;
    border-top: 1px solid #eee;
}
.newsproduct li {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.newsproduct li img {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.newsproduct li p {
    display: block;
    overflow: hidden;
    color: #666;
    font-size: 14px;
    line-height: 32px;
}

* {
    margin:0px;
    padding:0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    position:relative;
}
a {
    text-decoration:none;
}
ul {
    list-style-type:none;
}
.thumbnail-images{
    cursor:pointer;
}
#buy-product:hover{

}
.products{
    cursor:pointer;
    text-align:center;
    padding:2px;
    border:1px solid black;
}
.black-sections {
    background-color:black;
    color:white;
    width:100%;
    padding:5px 60px 3px 100px;
}
.white-sections {
    width:100%;
    padding:5px 60px 0 100px;
}
.home-titles {
    vertical-align:middle;
    margin:0 auto 20px auto;
}
.clear-fix {
    position:relative;
    height:330px;
}

.chooseopt {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}
.chooseopt .optioncolor {
    float: left;
    padding-right: 10px;
    margin: 5px 0;
}

.chooseopt .optioncolor a i {
    display: none;
}
.chooseopt .optioncolor a {
    display: inline-block;
    background: #fff;
    border: 1px solid #288ad6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #288ad6;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}
.chooseopt .optioncolor a.active {
    background: #288ad6;
}
 .chooseopt .optioncolor a.active label {
    color: #fff;
}
.chooseopt .optioncolor a label {
    margin: 0;
}
 .chooseopt .optioncolor label {
    font-size: 14px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
    font-weight:100;
}
.bg-light-gray {
    background-color: #eee;
}
.team-member {
    text-align: center;
    margin-bottom: 50px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}
.img-circle {
    border-radius: 50%;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}
.text-muted {
    color: #777;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p {
    margin: 0 0 10px;
}
ul.social-buttons {
    margin-bottom: 0;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
section.cta {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("../images/bg-cta.jpg");
    padding: 250px 0;
}
section.cta .cta-content {
    position: relative;
    z-index: 1;
}
section.cta .cta-content h2 {
    color: #fff;
    max-width: 450px;
    font-size: 40px;
}
h2.section-heading {
    font-size: 30px;
}
h3.section-subheading text-muted {
    font-size: 24px;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div {
    display: block;
}
.clear {
    clear: both;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.bang {
    width: 1090px;
    border: 1px solid #CFCFCF;
    margin: 10px auto;
    border-collapse: collapse;
}
.bang thead {
    background: #44b549;
    color: #fff;
    text-align: center;
    font-weight: bold;
    height: 43px;
    vertical-align: middle;
}
thead {
    display: table-header-group;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.bang tbody tr {
    height: 43px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.text_giua {
    text-align: center;
}
td, th {
    display: table-cell;
}
#content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #FFFFFF;
    margin: -210px auto 0;
    width: 960px;
    border: 1px solid #CFCFCF;
}