body{
	font-family: Arial, Tahoma;
	font-size: 12px;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
#top-head{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #CDCDCD;
	background-image: url("img/background_topheader.jpg");
	display: block;
}
#bottom_head{
	min-height: 100px;
	border-bottom: 1px solid #CDCDCD;
	background-image: url("img/background_header.jpg");
	display: block;
}
#top_of_bottom_head{
	min-height: 100px;
}
#menu{
	height: 50px;
	line-height: 50px;
	margin-bottom: 5px;
	clear: both;
	background-color: #F5F5F5;
}
#slide_bar{
     min-height: 200px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      max-height: 350px !important;
      margin: auto;
  }
#footer{
    min-height: 150px;
    clear: both;
    border-top: 1px solid #CDCDCD;
	background-repeat: repeat;
	background-image: url(http://handy.themes.zone/wp-content/uploads/2015/02/handy_bg_03.jpg);
}
#footer h3 {
	font-size: 15px;
	font-weight: bold;
}
#footer li {
	color: #a7a7a7;
	margin: 5px 0 0;
	width: 100%;
}
#footer li a{
	color: #fff;
}
.phone {
	background: url("img/phone.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 20px;
}
.mail {
	background: url("img/email.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 20px;
}
.skype {
	background: url("img/skype.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 20px;
}
.facebook {
	background: url("img/facebook.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 20px;
}
.twitter {
	background: url("img/twitter.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left: 20px;
}

#copyright {
	background-color: black;
	display: inline-block;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}
#copyright span {
color: #969696;
}