
.row-img {
	margin-left: 0px;
	margin-right: 0px;
}

.small_imgs {
	text-align: center;
	padding: 5px 0px;
	display: block;
	float: left;
	width: 100%;
}

.child_image {
	height: 90px!important;
	display: inline-block;
	margin: 2px;
}

.number_products {
	width: 60px;
	height: 30px;
	padding-left: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #c2d44e;
}

.price {
	color: #eb4947;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 21px;
    font-family: Roboto;
    font-style: normal;
}

.product_stock {
	margin: 10px;
}

.product_bottom_part {
	margin: 10px;
}

.product_name_main {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	margin: 20px;
}

.img-responsive {
	display:block;
	max-width: 100%;
	height: auto;
}

.intro-image .img-responsive {
    margin: 0 auto;
}

.img-full {
	width: 100%;
}
.post-title a{
	color: #000;
}

a:hover, a:visited, a:link, a:active
{
    border:0!important;
}

.blog-image-main {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image-blog-detail {
	display: block;
}

.article-blog {
	margin: 20px;
}

.item {
	margin-top: 20px;
}

.share-buttons img {
width: 35px;
padding: 5px;
border: 0;
display: inline;
}

